<aside class="sidebar">

    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/posts/create" class="single-menu-element-link">
                    Create Post
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/articles" class="single-menu-element-link">
                    Articles
                </a>
            </li>
            <li class="single-menu-element">
                <a href="#/sells" class="single-menu-element-link">
                    Sells
                </a>
            </li>
            <li class="recent-posts-title">
                <div>Recent Posts</div>
                <ul class="recent-posts" style="display: none">
                </ul>
            </li>
            <li class="single-menu-element logout">
                <a href="#/logout" class="single-menu-element-link">
                    Logout
                </a>
            </li>
        </ul>

    </nav>
</aside>
<main class="main-content">
    
</main>
<footer>
    <p class="footer-text">&copy; Softuni Project by Kalin and Nikolay</p>
</footer>