<aside class="sidebar">
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/articles" class="single-menu-element-link">
                    Articles
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/sells" class="single-menu-element-link">
                    Sells
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/login" class="single-menu-element-link">
                    Login
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/register" class="single-menu-element-link">
                    Register
                </a>
            </li>
        </ul>
    </nav>
</aside>
<main class="main-content">

</main>
<footer>
    <p class="footer-text">&copy; Softuni Project by Kalin and Nikolay</p>
</footer>