{{#blogPosts}}
<script type="application/javascript">
    $(document).ready(function(){$(".recent-posts-title").click(function(){
        let gosho = $(".recent-posts").css("display");
        if(gosho == "none"){
            $(".recent-posts").show()
        }
        else if(gosho== "block"){
            $(".recent-posts").hide()
        }
    })
    })
</script>
<li class="single-post">
    <article id="post-{{postId}}">
        <div class="dot">&nbsp;</div>
        <h3 class="title">{{title}}</h3>
        <p class="subtitle">{{car}}, Price:{{price}}, Year: {{year}}</p>
        <p class="subtitle">{{date}}, Author: {{author}}</p>
        <p class="content">Description:{{description}} </p>
    </article>
</li>
{{/blogPosts}}