<script type="application/javascript">
    $(document).ready(function(){$(".recent-posts-title").click(function(){
        let gosho = $(".recent-posts").css("display");
        if(gosho == "none"){
            $(".recent-posts").show()
        }
        else if(gosho== "block"){
            $(".recent-posts").hide()
        }
    })
    })
</script>
<div class="quick-search-block">
    <form>
        <h1 class="form-title"></h1>
        <input type="text" value="" placeholder="Car" id="car">
        <input type="text" value="" placeholder="Year" id="year">
        <br>
        <button type="button" id="quick-search-button">Search</button>
    </form>
</div>