<script type="application/javascript">
    $(document).ready(function(){$(".recent-posts-title").click(function(){
        let gosho = $(".recent-posts").css("display");
        if(gosho == "none"){
            $(".recent-posts").show()
        }
        else if(gosho== "block"){
            $(".recent-posts").hide()
        }
    })
    })
    $(document)
    $('article').on("mouseenter mouseleave", function(){
        var desc = $(this).children(".subtitle")
        if($(desc[1]).css("display") == "none"){
            $(desc[0]).show()
            $(desc[1]).show()
        }
        else{
            $(desc[0]).hide()
            $(desc[1]).hide()
        }
    })
</script>
<nav >
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>
            <li class="single-menu-element">
                <a href="#/articles" class="single-menu-element-link">
                    Articles
                </a>
            </li>
            <li class="single-menu-element">
                <a href="#/sells" class="single-menu-element-link">
                    Sells
                </a>
            </li>
            <li class="single-menu-element">
                <a href="#/login" class="single-menu-element-link">
                    Login
                </a>
            </li>
            <li class="single-menu-element">
                <a href="#/register" class="single-menu-element-link">
                    Register
                </a>
            </li>
            <li class="recent-posts-title">Recent Articles
                <ul class="recent-posts">
                </ul>
            </li>
        </ul>




    </nav>
</nav>
<main class="main-content">
    <header class="blog-title">
        <h3>home</h3>
    </header>
    <div id="search"></div>
    <ul class="articles" id="article">
    </ul>
    <footer>
        <p class="footer-text">&copy; Softuni Project by Kalin and Nikolay</p>
    </footer>
</main>