.wrapper {
    /*background: url("../images/background.png") no-repeat center center fixed;*/
    background-size: cover;
}

.user-login-block {
    border-radius: 15px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 5% auto;
    width: 35%;
    height: 55%;
    padding: 10px;
    text-align: center;
}
.user-login-block > form{
    width: 100%;
}
#post-form{
    width: 100%;
}
#post-form > ul.title-author > li > input{
    width: 72%;
}
form {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 30%;
}

.form-title {
    font: 18px Oswald;
    font-weight: 400;
    color: #004236;
    padding: 0 5px 5px;
    text-align: center;
    margin-bottom: 15px;
}


textarea.content-field{
    border-radius: 8px;
    border: 3px solid #f2f2f2;
    width: 60%;
    margin: 0 auto 10px;
    text-align: center;
    background-color: gainsboro;
}
textarea.content-field:focus{
    font: 12px Lato;
        outline: none;
    border: 3px solid slategray !important;
    color: #000;
    font-weight: 700;
    font-size:17px !important;
}
input {
    border-radius: 8px;
    border: 3px solid #f2f2f2;
    width: 32%;
    height: 35px;
    /*margin: 0 auto 10px;*/
    text-align: center;
    background-color: gainsboro;
    color: #000;
    font-size: 16px;
}
input:focus {
    font: 12px Lato;
    font-weight: 100;
    outline: none;
    border: 3px solid slategray;
    color: #000;
    font-weight: 700;
    font-size:16px ;
}

button {
    font: 16px Lato;
    color: white;
    background-color: #565656;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    width: 41%;
}
input:disabled{
    background-color: slategray;
    color: #fff;
}
button:hover {
    background-color: slategray;
}

.form-link {
    text-decoration: none;
    color: #048e76;
    font: 16px Lato;
    font-weight: 900;
    padding: 10px;
}

#register-title {
    width: 200px;
}