a {
    text-decoration: none;
    color: #565656;
}



.title {
    font: 32px Oswald;
    font-weight: 600;
}

.subtitle {
    font: 16px Lato;
    font-weight: 100;
    margin-left: 3%;
}

.content {
    padding-top: 2.5%;
    font: 16px Lato;
    font-weight: 500;
    width: 90%;
    margin-left: 3%;
    word-wrap: break-word;
    text-align: left;

}

.articles {
    margin-left: 5%;
}

.single-post {
    margin-bottom: 5%;
}