@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Oswald);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    font: 16px Lato;
    color: #565656;
}

.wrapper {
    overflow: hidden;
    margin: 0 auto;
    /*min-height: 739px;*/
    width: 100%;
    position: relative;
    display: inline-block;
}

hr {
    color: rgba(255, 255, 255, 0.5);
    margin: 15px auto;
    border: none;
    border-bottom: 1px solid white;
    width: 60%;
}

main {
    margin: 0 auto;
    min-height: inherit;
    width: 100%;
    position: relative;
    /*float: right;*/
    margin-top: 50px;
}

header {
    position: relative;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.blog-title {
    width: 120px;
    font: 54px Oswald;
    font-weight: 600;
    margin: 0 auto 50px;
    color: #565656;
    text-transform: uppercase;
    text-align: center;
    /*border-bottom: 8px solid #019c8c;*/
}

.sidebar {
    float: left;
    width: 100%;
    height: 7%;
    background-color: #06C0AB;
    color: white;
    font: 32px Lato;
    font-weight: 100;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

.logo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.single-menu-element-link {
    text-decoration: none;
    color: #004236;
    font-size: 30px;
    -moz-transition-property: font-weight;
    -moz-transition-duration: 3s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 2.5s;
    -webkit-transition-property: font-weight;
    -webkit-transition-duration: 3s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 2.5s;
    font-weight: 300;

    height: 40px;
    line-height: 32px;
}

.single-menu-element-link:hover {
    font-weight: 900;
    /*transition: background 0.7s ease,*/
    /*padding: 0.5s linear;*/
}

.single-menu-element:hover {
    font-weight: 900;
    background-color: #FFF;
    color: #cdcdcd;
    height: 40px;
    line-height: 32px;
    /*transition: background 0.7s ease, padding 0.5s linear;*/
}

.single-menu-element {
    padding: 10px;
    float: left;
    /*margin-top: -30px;*/
}

.recent-posts-title:hover{
    background-color: #FFFFFF;
    color: #cdcdcd;
    height: 100%;
}
.recent-posts-title {
    font: 32px Oswald;
    font-weight: 600;
    float: left;
    cursor: pointer;
}

.single-recent-post {
    padding: 10px;
    font-size: 18px;
}
.single-recent-post:hover{
    background-color: #fff;
    color: #cdcdcd;curso
}
.articles-img{
    width: 30%;
    height: 30%;
    text-align: center;
}
.single-article{
    text-align: center;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #cdcdcd;
    text-align: center;
}
nav {
    float: left;
    width: 100%;
    background-color: #cdcdcd;
    height: 60px;
}

.logout{
    float: right;

}

.recent-posts{
    background-color: #cdcdcd;
    display: block;
    position: absolute;
    width: 200px;
    top: 60px;
    box-shadow: 8px 5px 7px darkgrey;
    border-radius: 0px 0px 15px 0px;
}
.blog-title{
    /*margin-top: 50px;*/
}


















/* LOADER STYLING */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FFFFFF;
}

#loader {
    position: fixed;
    top: 35%;
    left: 45%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #DDDDDD;
    border-bottom: 16px solid #DDDDDD;
    width: 120px;
    height: 120px;
    -webkit-animation: first-spin 4s linear infinite;
    animation: first-spin 4s linear infinite;
}
@-webkit-keyframes first-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes first-spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}

@keyframes first-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes second-spin {
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(180deg); }
    50% { -webkit-transform: rotate(360deg); }
    75% { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes second-spin {
    0% { -moz-transform: rotate(0deg); }
    25% { -moz-transform: rotate(180deg); }
    50% { -moz-transform: rotate(360deg); }
    75% { -moz-transform: rotate(180deg); }
    100% { -moz-transform: rotate(0deg); }
}

@keyframes second-spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(360deg); }
    75% { transform: rotate(180deg); }
    100% { transform: rotate(0deg); }
}
li.single-post >article>h3.title{
    cursor:help;
}